.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    background-color: rgba(108, 30, 114, 0.776);
    border-radius: 20px; 
    gap: 10px; 
}
.Juego{
    background-color: rgb(236, 170, 89);
    width: 300px;
    padding: 10px;
    border-radius: 15px;
}
.Juego:hover{
    background-color: rgb(184, 150, 215);
    color: white; 
}
img{
    width: 300px;
}
button{
    width: 100px;
    border: none;
    border-radius: 15px;
}